NoHostAuthenticationForLocalhost yes

Host localhost
StrictHostKeyChecking no
ExitOnForwardFailure yes
ControlMaster no

Host *
ControlMaster yes
ControlPath ~/.ssh/s/%r@%h:%p.sock
ControlPersist yes
CheckHostIP yes
ServerAliveInterval 5
UseRoaming no
ForwardAgent no
HashKnownHosts no
VisualHostKey yes
IdentitiesOnly yes
IdentityFile ~/.ssh/id_rsa
