"*":
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    audioBeep: false
    customFileTypes:
      "source.json": [
        "workflow"
      ]
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "welcome"
      "styleguide"
      "Hydrogen"
      "github"
      "update-package-dependencies"
      "spell-check"
      "snippets"
    ]
    projectHome: "/Users/eax/svn"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 19
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
  "linter-shellcheck":
    enableNotice: true
    userParameters: "-x"
  "status-bar": {}
  welcome:
    showOnStartup: false
".json.source":
  editor:
    preferredLineLength: 120
