"*":
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "welcome"
    ]
    projectHome: "/Users/eax/svn"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
  "linter-shellcheck":
    enableNotice: true
  "status-bar": {}
  welcome:
    showOnStartup: false
".json.source":
  editor:
    preferredLineLength: 120
